* {
    background-color: blanchedalmond;
}

.topic {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.topic img {
    border: 2px solid black;
    border-radius: 10px;
}

.subtopic {
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: underline;
}

ul {
    line-height: 1.3;
}

.main {
    padding: 15px;
    border: 2px solid black;
}